#wedid {    
    background: var(--primaryBrown);
    color: var(--primaryGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }
  #wedid h2 {
    margin: 2rem;
  }
.slideshow {
    position: relative;
    margin: auto;
    max-width: 1200px;        
    background: rgba(0, 0, 0, 0.1);
}
.mySlides {
    display: none;
}
.mySlides img {
    width: 100%;
}
.text {
    color: #fff;
    padding: 8px 12px;
    bottom: 10px;
    position: absolute;
    text-align: center;
}
.numberText {
    color: #fff;
    padding: 8px 12px;
    top: 5px;  
    text-align: center;
}
.fade {
    -webkit-animation-name: fade;
    -moz-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1;}
}
@keyframes fade {
    from { opacity: .4;}
    to {opacity: 1;}
}
.slide-btn {
    width: 3rem;
    height: 3rem;
    background: rgba(88, 131, 38, 0.4);
    border: none;
    border-radius: 5px;
    }
.slide-btn:hover {
        width: 3rem;
        height: 3rem;
        background: rgba(88, 131, 38, 0.8);
        }
