@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {

    --primaryGreen: #22422d;
    --lightGreen: #588326;
    --primaryGray: #f4f4f4;
    --primaryYellow: #f1e773;
    --primaryBrown: #442200;
}
#showcase {
    background: #333 url("../img/mongol-design1.jpg") no-repeat center
      center/cover;
    height: 100vh;
}

.my-bg-prime {
    background-color:  #588326;;
}
.my-bg-light {
    background-color: var(--primaryGray);
}
.my-bg-brown {
    background-color: var(--primaryBrown);
}
.my-color-prime {    
    color: #588326;
}
.my-logo-animation {
    animation: logo-clarify 1.3s forwards ease-out;
}
@keyframes logo-clarify {
    from {
        background: rgba(220, 220, 220, 0.1);
    }
    to {
        background: rgba(220, 220, 220, 0.7);
    }
}